<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DemoWallet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link{% if not user.is_authenticated %} disabled{% endif %}" href="{% url 'web:dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if not user.is_authenticated %} disabled{% endif %}" href="{% url 'wallets:wallets' %}">Wallets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if not user.is_authenticated %} disabled{% endif %}" href="{% url 'transactions:all_transactions' %}">Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if not user.is_authenticated %} disabled{% endif %}" href="{% url 'transfers:send_transfer' %}">Transfers</a>
    </li>
{#    <li class="nav-item">#}
{#        <a class="nav-link{% if not user.is_authenticated %} disabled{% endif %}" href="/disputes/">Disputes</a>#}
{#    </li>#}
</ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/profile/">Hello, {{ user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>