{% extends "base.html" %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="mb-3">Send money to another user</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function() {
    $('#id_to_user').change(function() {
        var userId = $(this).val();
        var $toWallet = $('#id_to_account');
        $toWallet.empty();
        $toWallet.append($('<option>', {value: '', text: '---------'}));
        if (userId) {
            $.getJSON("{% url 'wallets:get_user_wallets' %}", {user_id: userId}, function(data) {
                $.each(data.wallets, function(i, wallet) {
                    $toWallet.append($('<option>', {value: wallet.id, text: wallet.label}));
                });
            });
        }
    });
});
</script>
{% endblock %}